.title{
  text-align: center;
}
.main{
  display: flex;
  justify-content: center;
}
.form{
  border: 1px solid gray;
  padding: 10px 20px;
  font-size: 1.3rem;
  width: 320px;
  background-color: aqua;
}
.form-elem{
  padding: 5px ;
  margin: 8px;
}
.form input{
  outline: none;
  width: 280px;
  padding: 8px 3px;
  margin: 0px 0px;
  font-size: 1.2rem;
}
form button{
  padding: 5px 9px;
  font-size: 1.2rem;
}

span{
  color: red;
}